# Trader Interactive Interview Dataset Exploration

Please see here for [full](https://docs.google.com/presentation/d/1W-2Uc2k_2dTf9Y-x-4lHrymV54yJaDu16J1O7mKR8Qk/edit?usp=sharing) presentation

In [1]:
import pandas as pd
import numpy as np
from scipy import stats # for t-test

In [2]:
listing_data = pd.read_excel('Analyst Test File Nov 2021.xlsx', sheet_name = '2019 Listing Data')
leads_19 = pd.read_excel('Analyst Test File Nov 2021.xlsx', sheet_name='2019 Leads')

In [3]:
dealers = pd.read_excel('Analyst Test File Nov 2021.xlsx', sheet_name='Dealers')
categories = pd.read_excel('Analyst Test File Nov 2021.xlsx', sheet_name='Categories')

# 1. Understanding the dataset
## Data Columns

SRPs: Search Result Impressions - how many times a listing appears in a user search <br>
VDPs: Vehicle Detail Page - how many times a user clicks into a specific listing

In [4]:
listing_data.columns

Index(['MTH', 'DEALER_ID', 'LISTING_AD_ID', 'LISTING_NEW_USED',
       'LISTING_MANUFACTURER', 'LISTING_TYPE', 'DMA_NAME', 'REALM_NAME',
       'CUSTOMER_TYPE', 'INVENTORY', 'SRPS', 'VDPS', 'WEBREFERRALS', 'MAPS',
       'EMAIL'],
      dtype='object')

In [5]:
listing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204912 entries, 0 to 204911
Data columns (total 15 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   MTH                   204912 non-null  int64
 1   DEALER_ID             204912 non-null  int64
 2   LISTING_AD_ID         204912 non-null  int64
 3   LISTING_NEW_USED      204912 non-null  object
 4   LISTING_MANUFACTURER  204569 non-null  object
 5   LISTING_TYPE          204912 non-null  object
 6   DMA_NAME              204912 non-null  object
 7   REALM_NAME            204912 non-null  object
 8   CUSTOMER_TYPE         204912 non-null  object
 9   INVENTORY             204912 non-null  int64
 10  SRPS                  204912 non-null  int64
 11  VDPS                  204912 non-null  int64
 12  WEBREFERRALS          204912 non-null  int64
 13  MAPS                  204912 non-null  int64
 14  EMAIL                 204912 non-null  int64
dtypes: int64(9), object(6)
memory usage: 23.5+ MB

In [6]:
leads_19.columns

Index(['MONTH', 'DEALER_ID', 'PHONECALLS', 'TEXTS', 'CHATS'], dtype='object')

In [7]:
leads_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1233 entries, 0 to 1232
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MONTH       1233 non-null   int64
 1   DEALER_ID   1233 non-null   int64
 2   PHONECALLS  1233 non-null   int64
 3   TEXTS       1233 non-null   int64
 4   CHATS       1233 non-null   int64
dtypes: int64(5)
memory usage: 48.3 KB

In [8]:
dealers.columns

Index(['DEALER_ID', 'COMPANY_NAME'], dtype='object')

In [9]:
dealers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEALER_ID     125 non-null    int64
 1   COMPANY_NAME  124 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.1+ KB

In [10]:
categories.columns

Index(['LISTING_AD_ID', 'CATEGORY_NAME'], dtype='object')

In [11]:
categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52429 entries, 0 to 52428
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LISTING_AD_ID  52429 non-null  int64
 1   CATEGORY_NAME  52428 non-null  object
dtypes: int64(1), object(1)
memory usage: 819.3+ KB

## Data Shape
#### LISTING AD ID

In [12]:
print('ABOUT THE LISTING AD ID:\nThere are {} number of rows in listing data table. {} number of rows in categories table.\n{} number of listing ad id in listing_data table, {} number of listing ad id in category table.'.format(listing_data.shape[0], categories.shape[0], listing_data['LISTING_AD_ID'].nunique(), categories['LISTING_AD_ID'].nunique()))

ABOUT THE LISTING AD ID:
There are 204912 number of rows in listing data table. 52429 number of rows in categories table.
59825 number of listing ad id in listing_data table, 52429 number of listing ad id in category table.

#### makes sense that the number of listing and number of rows in the number of listing is not accurate because this query also include month. However, the number of ad id in the listing table is lower than the category table, which means that there are discrepency between the two tables.

In [13]:
unique_ad_id = list(categories['LISTING_AD_ID'].unique())
discrepency = listing_data[~listing_data['LISTING_AD_ID'].isin(unique_ad_id)].sort_values('LISTING_AD_ID')
discrepency

,MTH,DEALER_ID,LISTING_AD_ID,LISTING_NEW_USED,LISTING_MANUFACTURER,LISTING_TYPE,DMA_NAME,REALM_NAME,CUSTOMER_TYPE,INVENTORY,SRPS,VDPS,WEBREFERRALS,MAPS,EMAIL
171325,1,2980528,119744068,N,RAM,STANDARD,atlanta,Commercial Truck,DEALER,1,0,0,0,0,0
135550,1,2886784,120977632,N,CHEVROLET,STANDARD,atlanta,Commercial Truck,DEALER,1,44,2,0,0,0
98819,1,2937876,121943303,U,KENWORTH,STANDARD,atlanta,Commercial Truck,DEALER,1,0,0,0,0,0
74987,1,2964040,122512970,N,HINO,STANDARD,atlanta,Commercial Truck,DEALER,1,0,0,0,0,0
128152,1,2943150,122608726,U,FREIGHTLINER,STANDARD,atlanta,Commercial Truck,DEALER,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189417,12,0,5010825187,U,FORD,STANDARD,atlanta,Commercial Truck,PRIVATE PARTY,1,679,19,0,0,0
199857,12,0,5010825237,U,FORD,STANDARD,atlanta,Commercial Truck,PRIVATE PARTY,1,662,26,0,0,0
203548,12,2891146,5010825279,U,FREIGHTLINER,STANDARD,atlanta,Commercial Truck,DEALER,1,5,1,0,0,0
33610,12,0,5010830310,U,GMC,STANDARD,atlanta,Commercial Truck,PRIVATE PARTY,1,208,8,0,0,0
143265,12,0,5010853345,U,RAM,STANDARD,atlanta,Commercial Truck,PRIVATE PARTY,1,29,3,0,0,0

In [14]:
discrepency.to_csv('listing_data_discrepency_missing_category.csv')

#### not quite sure what's the discrepency, exporting this dataset for assessment later.
Might have to check how the data is exported and what is causing this discrepency.

#### DEALER ID

In [15]:
print('ABOUT THE DEALER TABLE: \nThere are {} number of dealers in the dealer table, {} number of rows in dealer table;\nThere are {} number of dealers in leads_19 table, {} number of dealers in the listing table'.format(dealers['DEALER_ID'].nunique(), dealers.shape[0], leads_19['DEALER_ID'].nunique(), listing_data['DEALER_ID'].nunique()))

ABOUT THE DEALER TABLE:
There are 120 number of dealers in the dealer table, 125 number of rows in dealer table;
There are 121 number of dealers in leads_19 table, 120 number of dealers in the listing table

#### looks like the dealers table has some discrepancy

In [16]:
dup_dealers = dealers['DEALER_ID'].value_counts().to_frame()
dup_dealers = list(dup_dealers[dup_dealers['DEALER_ID'] >1].index)
dealers[dealers['DEALER_ID'].isin(dup_dealers)].sort_values('DEALER_ID')

      DEALER_ID                       COMPANY_NAME
4        748306       Rush Truck Centers - Atlanta
20       748306        Rush Truck Center - Atlanta
5        748340        Rush Truck Centers - Smyrna
95       748340         Rush Truck Center - Smyrna
72      2961694                Bill Holt Chevrolet
92      2961694  Bill Holt Chevrolet of Blue Ridge
39      2964040      Rush Truck Center - Doraville
112     2964040     Rush Truck Centers - Doraville
29   5000002945    Nacarato Truck Center - Atlanta
71   5000002945    Nacarato Volvo Trucks - Atlanta

#### Looks like there are duplicate records. The second row will be removed. #datacleaning

In [17]:
# removing records

dealers.drop_duplicates(subset=['DEALER_ID'], keep='first', inplace=True)
print('New number of rows in dealers table: {}'.format(dealers.shape[0]))

New number of rows in dealers table: 120

In [18]:
leads_19[~leads_19['DEALER_ID'].isin(dealers['DEALER_ID'])]

     MONTH  DEALER_ID  PHONECALLS  TEXTS  CHATS
771      3    2636324           0      0      0

#### This dealer: 2636324 is not in the dealer dataset, I believe we can drop it since there are 0 phone calls, 0 text, and 0 chats for this dealer. Maybe it's a test data. #datacleaning

In [19]:
# dropping the row above for invalid dealer_id

leads_19 = leads_19[leads_19['DEALER_ID'].isin(dealers['DEALER_ID'])]

#### MONTHS

In [20]:
print('There are {} months in leads_19, {} months in listing data.'.format(leads_19['MONTH'].nunique(), listing_data['MTH'].nunique()))

There are 12 months in leads_19, 12 months in listing data.

#### Months field looks good.

## Data Values

In [21]:
def nonint_summary(df, pk):
    for col in df.select_dtypes(exclude='int64').columns:
        print('--------------- {} ---------------'.format(col))
        print('Number of unique values in {} column: {}'.format(col, df[col].nunique()))
        print(df[col].unique())
        holder = df.groupby(col).agg({pk: 'count'}).sort_values(by=pk, ascending=False)
        holder['percent_total'] = round(holder[pk]/holder[pk].sum(), 2)
        print(holder.head(10))
        print('\n')

In [22]:
nonint_summary(listing_data, 'LISTING_AD_ID')

--------------- LISTING_NEW_USED ---------------
Number of unique values in LISTING_NEW_USED column: 2
['N' 'U']
                  LISTING_AD_ID  percent_total
LISTING_NEW_USED
U                        105184           0.51
N                         99728           0.49


--------------- LISTING_MANUFACTURER ---------------
Number of unique values in LISTING_MANUFACTURER column: 209
['CHEVROLET' 'RKI' 'RAM' 'NISSAN' 'INTERNATIONAL' 'FREIGHTLINER' 'FORD'
 'PETERBILT' 'MITSUBISHI FUSO' 'WESTMOR' 'KENWORTH' 'GMC' 'VOLVO'
 'UTILITY' 'ISUZU' 'HEIL' 'HINO' 'KALMAR' 'OTHER' 'IC' 'TOYOTA' 'WELDIT'
 'GREAT DANE' 'EAGLE' 'MACK' 'JAC' 'DIAMOND' 'DODGE' 'MORGAN'
 'WESTERN STAR' nan 'POLAR TANK TRAILER' 'STE' 'IHC' 'THOMAS' 'TENNANT'
 'PACE' 'BLUE BIRD BUS' 'FRUEHAUF' 'GRANDE WEST' 'BEALL' 'LOOK' 'US TRUCK'
 'STARCRAFT' 'ELKHART COACH' 'MERCEDES-BENZ' 'CAIO' 'OTHER TRAILERS'
 'AUTOCAR' 'DORSEY' 'STERLING' 'TICO' 'VIM' 'KNAPHEIDE' 'SUPREME'
 'LUBBOCK' 'OTTAWA' 'TRAILMOBILE' 'CAPACITY' 'ALTEC' 'TARASPORT'
 'ELDORADO NATIONAL' 'CEI' 'CUSTOM' 'HACKNEY' 'TRAILMASTER' 'AIR-FLO'
 'GOSHEN' 'AMERICAN TRUCK BODY' 'CHAMPION' 'MAC TRAILER' 'UD TRUCKS'
 'TEREX' 'GLAVAL' 'WABASH' 'MICKEY' 'LIFTMOORE' 'TRINITY' 'PITTS TRAILER'
 'STEPHENS' 'TURTLETOP' 'LOAD KING' 'OX BODIES' 'MERRITT' 'HYUNDAI' 'ITI'
 'ARROW' 'MONON' 'ADKINS' 'UTILIMASTER' 'WINSTON' 'IMT' 'ROAD SYSTEMS'
 'HOBBS' 'MANAC' 'STALLION' 'GILLIG' 'SUN VALLEY' 'PJ TRAILERS' 'EAST'
 'ABC' 'WORKHORSE' 'CRANE CARRIER COMPANY (CCC)' 'MANITEX' 'SILVER EAGLE'
 'KAUFMAN' 'ELLIOTT TRUCKS' 'GRUMMAN OLSON' 'BRENNER TANK' 'STARTRANS'
 'PINES TRAILER CORP' 'TRAIL-EZE' 'TRANSCRAFT' 'FREEDOM TRUCK BEDS'
 'G & H' 'RETCO' 'TRAIL KING' 'FONTAINE' 'TYTAL' 'CLARK' 'R & S'
 'WHITE GMC' 'TAKE 3' 'ETNYRE' 'HOLDEN' 'VANTAGE TRAILERS' 'COLLINS'
 'SMITHCO' 'IVECO' 'ONNEN' 'TRAVIS TRAILER' 'CASE IH' 'PARAMOUNT'
 'NATIONAL' 'SUNSHINE' 'OMNI' 'GATORMADE' 'HOOPER' 'FEDERAL COACH'
 'CLEMENT' 'DRAGON' 'WALKER' 'JEEP ' 'GODWIN' 'LIDDELL' 'VANHOOL'
 'STOUGHTON TRAILERS' 'Other' 'ATOKA TRAILERS' 'VIKING' 'CLOUGH' 'FCC'
 'FEATHERLITE' 'LYNCOACH' 'STRICK' 'LUFKIN' 'WILSON' 'READING' 'VERSALIFT'
 'FASSI' 'X-L SPECIALIZED TRAILERS' 'WCC'
 'CONSTRUCTION TRAILER SPECIALIST' 'RAVENS' 'SOUTHCO' 'PEERLESS'
 'JOHNSTON' 'CHAPARRAL' 'TSE INTERNATIONAL ' 'SIEBERT' 'VANGUARD NATIONAL'
 'NEVILLE' 'BIG TEX TRAILERS' 'CHRYSLER' 'TIMPTE' 'CIRCLE W'
 'CUSTOM BUILT' 'SUPERIOR' 'MAGNUM' 'CATERPILLAR' 'SHERMAN' 'TREMCAR'
 'MILLER' 'AMERICAN BANTAM' 'EVACO' 'REITNOUER, INC' 'TALBERT'
 'APPALACHIAN TRAILERS' 'NABORS' 'GOOSENECK' 'VACTOR' 'TRAILMAX' 'SUMMITT'
 'HI-RANGER' 'SMITH NEWTON' 'KIDRON' 'DAIMLER CHRYSLER' 'MONROE' 'LEDWELL'
 'ALFRED' 'STEWART & STEVENSON' 'TRAILER WORLD INC.' 'TEXAS PRIDE'
 'CARRIER' 'KENT' 'BENLEE TRAILERS' 'AM GENERAL' 'RANCO' 'LAMAR' 'HART']
                      LISTING_AD_ID  percent_total
LISTING_MANUFACTURER
FORD                          39693           0.19
RAM                           38536           0.19
FREIGHTLINER                  29463           0.14
CHEVROLET                     28881           0.14
INTERNATIONAL                 12636           0.06
ISUZU                          7996           0.04
NISSAN                         6989           0.03
KENWORTH                       6637           0.03
VOLVO                          6270           0.03
GMC                            5518           0.03


--------------- LISTING_TYPE ---------------
Number of unique values in LISTING_TYPE column: 4
['STANDARD' 'PREMIUM AND FEATURED' 'PREMIUM' 'FEATURED']
                      LISTING_AD_ID  percent_total
LISTING_TYPE
STANDARD                     182947           0.89
PREMIUM                       16830           0.08
PREMIUM AND FEATURED           3471           0.02
FEATURED                       1664           0.01


--------------- DMA_NAME ---------------
Number of unique values in DMA_NAME column: 1
['atlanta']
          LISTING_AD_ID  percent_total
DMA_NAME
atlanta          204912            1.0


--------------- REALM_NAME ---------------
Number of unique values in REALM_NAME column: 1
['Commercial Truck']
                  LISTING_AD_ID  percent_total
REALM_NAME
Commercial Truck         204912            1.0


--------------- CUSTOMER_TYPE ---------------
Number of unique values in CUSTOMER_TYPE column: 2
['DEALER' 'PRIVATE PARTY']
               LISTING_AD_ID  percent_total
CUSTOMER_TYPE
DEALER                203477           0.99
PRIVATE PARTY           1435           0.01

### Notes -- listing_data --categorical:
- Atlanta was the only city in the dataset.
- Only Commercial Truck is provided in the dataset
- 99% of listing are listed from a dealer.
- FORD, RAM, FREIGHTLINER, CHEVROLET TAKE UP 66% of the listings.
- 89% of the listing are standard listing_type.
- New and Used listings are about an even split.

In [23]:
# get descriptive statistics of numerical data types
listing_data_numerical = ['SRPS', 'VDPS','INVENTORY','WEBREFERRALS', 'MAPS', 'EMAIL']
listing_data[listing_data_numerical].describe()

,SRPS,VDPS,INVENTORY,WEBREFERRALS,MAPS,EMAIL
count,204912.000000,204912.000000,204912.0,204912.000000,204912.000000,204912.000000
mean,348.916696,6.529422,1.0,0.189520,0.032024,0.041984
std,1088.600211,53.916622,0.0,0.890162,0.293802,0.325571
min,0.000000,0.000000,1.0,0.000000,0.000000,0.000000
25%,3.000000,0.000000,1.0,0.000000,0.000000,0.000000
50%,41.000000,0.000000,1.0,0.000000,0.000000,0.000000
75%,254.000000,3.000000,1.0,0.000000,0.000000,0.000000
max,52891.000000,12691.000000,1.0,63.000000,39.000000,31.000000

In [24]:
listing_data.groupby('MTH').agg({'DEALER_ID': 'count', 'LISTING_AD_ID': 'count', 'SRPS':[np.mean, 'sum'], 'VDPS': [np.mean, 'sum'], 'WEBREFERRALS': [np.mean, 'sum'], 'MAPS': [np.mean, 'sum'], 'EMAIL':[np.mean, 'sum']})

    DEALER_ID LISTING_AD_ID        SRPS                VDPS          \
        count         count        mean      sum       mean     sum
MTH
1       16921         16921  410.343301  6943419   6.706459  113480
2       17394         17394  361.485512  6287679   5.900080  102626
3       17738         17738  377.472601  6695609   6.113936  108449
4       17716         17716  332.519643  5890918   5.655170  100187
5       17035         17035  311.856472  5312475   5.882184  100203
6       16923         16923  316.533652  5356699   5.504993   93161
7       17405         17405  267.717323  4659620   5.419190   94321
8       23153         23153  227.754891  5273209   5.142746  119070
9       15431         15431  353.794958  5459410   7.219493  111404
10      15390         15390  387.627940  5965594   8.013515  123328
11      15009         15009  425.797255  6390791   8.117396  121834
12      14797         14797  490.761303  7261795  10.130026  149894

    WEBREFERRALS            MAPS          EMAIL
            mean   sum      mean  sum      mean  sum
MTH
1       0.261273  4421  0.051829  877  0.036759  622
2       0.223008  3879  0.045245  787  0.037714  656
3       0.212256  3765  0.051810  919  0.045721  811
4       0.176846  3133  0.036069  639  0.043689  774
5       0.157910  2690  0.039448  672  0.040974  698
6       0.168114  2845  0.045205  765  0.039355  666
7       0.168630  2935  0.030681  534  0.033841  589
8       0.146158  3384  0.023021  533  0.033646  779
9       0.190137  2934  0.011859  183  0.044715  690
10      0.231254  3559  0.012736  196  0.048993  754
11      0.195683  2937  0.013858  208  0.046839  703
12      0.159019  2353  0.016828  249  0.058187  861

### NOTES --listing_data --numerical:
- SRPs and VDP has a very long right tail, highly skewed to the right. There are a lot of outliers that are on the right side.
- inventory count is 1 in this dataset.
- Web referrals, Maps, and email also has a very long right tail, more than 75% of listings have 0 webreferrals, maps, or email.
- max dealer and listing month: August
- max SRPS: December
- max VDPS: January
- max web referrals: Jan
- max maps: March
- max email: December

In [25]:
nonint_summary(dealers, 'DEALER_ID')

--------------- COMPANY_NAME ---------------
Number of unique values in COMPANY_NAME column: 101
['Custom Truck One Source- Atlanta' 'Ryder Used Trucks in Atlanta'
 'Alliance Bus Group' 'Jordan Truck Sales Inc'
 'Rush Truck Centers - Atlanta' 'Rush Truck Centers - Smyrna'
 'MHC Kenworth - Gainesville' 'PENSKE USED TRUCKS' 'TOWN CENTER NISSAN'
 'Carl Black Chevrolet Buick GMC' 'Werner Fleet Sales-Georgia'
 'International Used Truck Center of Atlanta' 'Arrow Truck Sales Atlanta'
 'Hayes Chrysler' 'Carriage Nissan'
 'Bellamy Strickland Commercial Truck Sales' 'Gwinnett Place Nissan'
 'Nash Chevrolet' 'GWINNETT CHRYSLER DODGE JEEP RAM'
 'Forsyth Truck Sales Inc' 'Ryder Trucks Wholesale'
 'Landmark Dodge, Chrysler, Jeep' 'Gainesville Truck Center'
 'Hackett Sales,Inc.' 'MHC Kenworth - Atlanta' 'Rick Hendrick Chevrolet'
 'Peach State Truck Centers, LLC' 'Nacarato Truck Center - Atlanta'
 'Ramey Motors' 'Hennessy Of Southlake' 'The Truck & Trailer Connection'
 'Rush Truck Center - Doraville' 'Speedway Ford'
 'Ginn Chrysler Dodge Jeep' 'Smyrna Truck & Cargo'
 'Sutherlin Nissan Cherokee County'
 'JACKY JONES CHRYSLER DODGE JEEP    RAM' "America's Truck Source"
 'Hardy Chevrolet' "Day's Chevrolet" 'Peachstate Freightliner'
 'TAC Auction Services' 'Paulding Chrysler Dodge Jeep Ram'
 'Akins Ford - CDJR' 'Maxie Price Chevrolet' 'Courtesy Ford'
 'Jim Ellis GMC Buford' 'Emerald Transportation Solutions'
 "Pruitt's Truck Sales" 'STS Big Box' 'Mig Auto' 'Jacky Jones Ford'
 'North Georgia Truck Center' 'Southtowne Commercial Truck Sales'
 'Vanguard Truck Center of Atlanta' 'Marlin Motors'
 'Vanguard Truck Center - Atlanta' 'RTA TOWING SERVICES LLC'
 'Bill Holt Chevrolet' 'Billy Howell Ford' 'Barrgo'
 'Hennessy Ford Lincoln Atlanta' 'Don Jackson Chrysler Dodge Jeep Ram'
 'John Thornton Chevrolet' 'MHC Truck Sales' 'Jim Ellis Chevrolet'
 'JW Truck Sales' 'RBM of Alpharetta' 'Henderson Auto World'
 'Marietta Truck Sales' 'Nalley Nissan Of Atlanta'
 'Scott Evans Chrysler Dodge Jeep Ram' nan 'LEB Truck and Equipment Inc'
 'Jacky Jones Chry-Dodge & Jeep Inc' 'MHC Kenworth - South Atlanta'
 'Rick Hendrick GMC' 'Loganville Ford' 'Sagon Trucks & Equipment'
 'Blackburn Truck Equipment' 'Trax Trux' 'Rick Hendrick CDJR Atlanta'
 'AAA Commercial Truck Sales'
 'Forest Park Tractor & Trailer Service Co, Inc' 'JRS Auto Buyers'
 'Steve Rayman Chevrolet' 'Southern Transportation Sales'
 'Allan Vigil Ford' 'MHC Truck Source-Atlanta' "7E's Sales"
 "James O'Neal Chrysler Dodge Jeep" 'Moore Truck Sales, LLC'
 'Clark Truck Sales' 'Interstate Truck & Equip'
 'THORNTON ROAD CHRYSLER DODGE JEEP  RAM' 'SelecTrucks of Atlanta'
 'Johnny Thomas Truck Sales' 'Atlanta Classic Cars, Inc.' 'CorpAuto'
 'M & T TRUCK SALES' 'Georgia Elite Trucks' 'Peterbilt of Atlanta']
                                DEALER_ID  percent_total
COMPANY_NAME
PENSKE USED TRUCKS                     19           0.16
7E's Sales                              1           0.01
Nash Chevrolet                          1           0.01
Ramey Motors                            1           0.01
RTA TOWING SERVICES LLC                 1           0.01
RBM of Alpharetta                       1           0.01
Pruitt's Truck Sales                    1           0.01
Peterbilt of Atlanta                    1           0.01
Peachstate Freightliner                 1           0.01
Peach State Truck Centers, LLC          1           0.01

In [26]:
dealers[dealers['COMPANY_NAME'] == 'PENSKE USED TRUCKS']

      DEALER_ID        COMPANY_NAME
7       2967282  PENSKE USED TRUCKS
10   5000001774  PENSKE USED TRUCKS
31      2967288  PENSKE USED TRUCKS
32      2967248  PENSKE USED TRUCKS
33      2967238  PENSKE USED TRUCKS
34      2967244  PENSKE USED TRUCKS
36      3005868  PENSKE USED TRUCKS
38   5000001795  PENSKE USED TRUCKS
41      3002226  PENSKE USED TRUCKS
49      2967232  PENSKE USED TRUCKS
52      3035934  PENSKE USED TRUCKS
53      2967366  PENSKE USED TRUCKS
59      2967272  PENSKE USED TRUCKS
90      2967314  PENSKE USED TRUCKS
99      2967260  PENSKE USED TRUCKS
104     2967348  PENSKE USED TRUCKS
106     3035928  PENSKE USED TRUCKS
107     3035922  PENSKE USED TRUCKS
122     3035926  PENSKE USED TRUCKS

### NOTES --dealer --categorical:
- Penske Used Trucks has 16 different dealer_id

In [27]:
nonint_summary(categories, 'LISTING_AD_ID')

--------------- CATEGORY_NAME ---------------
Number of unique values in CATEGORY_NAME column: 137
['Pickup Truck' 'Car Carrier' 'Box Truck - Straight Truck' 'Cargo Van'
 'Conventional - Sleeper Truck' 'Flatbed Truck'
 'Utility Truck - Service Truck' 'Cab Chassis' 'Refrigerated Truck' 'Van'
 'Cutaway-Cube Van' 'Stepvan' 'Dump Truck' 'Cabover Truck - COE'
 'Tag-A-Long Trailer' 'Rollback Tow Truck' 'Bucket Truck - Boom Truck'
 'Landscape Truck' 'Fuel Tank Trailer' 'Reefer Van' 'Hauler' 'Bus'
 'Chipper Truck' 'Pup Trailer' 'Western Hauler' 'Tractor' 'Passenger Van'
 'Conventional - Day Cab' 'Mechanics Truck' 'Other Truck'
 'Dry Van Trailer' 'Reefer/Refrigerated Van' 'Reefer/Refrigerated Truck'
 'Flatbed Dump' 'Landscape Trailer' 'Yard Spotter Truck' 'Spray Truck'
 'Plumber Service Truck' 'Tanker Truck' 'Other Trailer' 'Contractor Truck'
 'Stake Bed' 'Dually' 'Garbage Truck' 'Roll Off Truck' 'Knucklebooms'
 'Vacuum Truck' 'Enclosed Trailer' 'Wrecker Tow Truck' 'Tanker Trailer'
 'Lowboy Trailer' 'Moving Van' 'Water Trailer' 'Farm Truck - Grain Truck'
 'Chemical Trailer' 'Catering Truck - Food Truck' 'Landscape Body'
 'Crane Truck' 'Mechanics Body Only' 'Expeditor-Hotshot' 'Water Truck'
 'Minibus' 'Grapple Truck' 'Salvage Truck' 'Flatbed Body Only'
 'Digger Derrick' 'Utility Trailer' 'Dry Van' 'Crew Van' nan
 'Curtain Side Van' 'Cable Dispenser' 'Drop Deck' 'Utility Body Only'
 'Van Body Only' 'Selfloader' 'Pneumatic' 'Shredder Truck' 'Food Truck'
 'Fire Truck' 'Glider Kit' 'Horse Trailer' 'Water Tank' 'End Dump Trailer'
 'Logging' 'Livestock Trailer' 'Bottom Dump Trailer' 'Flat Deck Trailer'
 'Fuel Truck - Lube Truck' 'Other Truck Bodies' 'Dry Van Body Only'
 'Flatbed Trailer' 'Dump Trailer' 'Moving Body Only' 'Recycle Truck'
 'Transfer Truck' 'Dump Body Only' 'Refuse' 'Logger Trailer' 'Winch Truck'
 'Vacuum Trailer' 'Hopper - Grain Trailer' 'Mixer Truck' 'Sweeper'
 'Service Body Only' 'Reefer/Refrigerated Body' 'Car Hauler'
 'Hooklift Truck' 'Wood Floor Trailer' 'Cable Reel' 'Ambulance'
 'Beverage Truck' 'Dolly' 'Cargo Trailer' 'Crane Body Only'
 'Reefer Body Only' 'Sewer Trucks' 'Drop Frame Trailer'
 'Cabover Truck - Sleeper' 'Equipment Trailer' 'Roll Off Trailer'
 'Deckover' 'Toter' 'Container Trailer' 'Pickup Bed' 'Live Floor Trailer'
 'Glass Truck' 'Handicap Van' 'Contractor Body Only' 'Auger' 'Saw Body'
 'Hot Oil Trailer' 'Chassis - Trailers' 'Storage Trailer' 'Attenuator'
 'Curtain Side' 'Pole Trailer' 'Mobility Van']
                               LISTING_AD_ID  percent_total
CATEGORY_NAME
Pickup Truck                           20896           0.40
Conventional - Sleeper Truck            6972           0.13
Box Truck - Straight Truck              3661           0.07
Cab Chassis                             3603           0.07
Cargo Van                               2934           0.06
Van                                     2278           0.04
Conventional - Day Cab                  2139           0.04
Utility Truck - Service Truck           1036           0.02
Other Truck                              793           0.02
Flatbed Truck                            734           0.01

### NOTES --categories --categorical:
- 40% of Commercial Truck with categories are Pickup Truck

# 2. Data Cleaning and Data Transformation

Previously, we've removed dealer with duplicate rows, and dropped the dealer_id with 0 phone calls, 0 text, and 0 chats. (see #datacleaning for code that cleaned it)

### create a summarized view of first month and last month

There are multiple dealer under one listing_ad_id?

There are 287 listings that have the multiple dealer_id, multiple company name (287 that have more than one dealer_id in the same listing_ad_id), for example PENSKE_USED_TRUCKS.
Even when we're grouping it by company name, there are still 73 listings that have multiple dealer name.

In [28]:
listing_data[listing_data['LISTING_AD_ID'] == 120781521]

,MTH,DEALER_ID,LISTING_AD_ID,LISTING_NEW_USED,LISTING_MANUFACTURER,LISTING_TYPE,DMA_NAME,REALM_NAME,CUSTOMER_TYPE,INVENTORY,SRPS,VDPS,WEBREFERRALS,MAPS,EMAIL
42809,1,2967238,120781521,U,FREIGHTLINER,STANDARD,atlanta,Commercial Truck,DEALER,1,301,0,0,0,0
68936,5,3002226,120781521,U,FREIGHTLINER,STANDARD,atlanta,Commercial Truck,DEALER,1,82,0,0,0,0
83331,2,2967238,120781521,U,FREIGHTLINER,STANDARD,atlanta,Commercial Truck,DEALER,1,230,1,0,0,0
111800,3,2967238,120781521,U,FREIGHTLINER,STANDARD,atlanta,Commercial Truck,DEALER,1,293,0,0,0,0
120060,4,2967238,120781521,U,FREIGHTLINER,STANDARD,atlanta,Commercial Truck,DEALER,1,63,0,0,0,0
182261,4,3002226,120781521,U,FREIGHTLINER,STANDARD,atlanta,Commercial Truck,DEALER,1,170,0,0,0,0

In [29]:
# categories can be joined to listing data using listing_ad_id

listing_data = listing_data.merge(right=categories, on='LISTING_AD_ID', how='left')
listing_data = listing_data.merge(right=dealers, on='DEALER_ID', how='left')

In [30]:
def return_first(x):
    return list(x.unique())[0]

def return_last(x):
    return list(x.unique())[-1]

def return_all(x):
    return list(x.unique())

listing = listing_data.groupby('LISTING_AD_ID').agg({
    'COMPANY_NAME':return_first, 
    'DEALER_ID':return_first, 
    'LISTING_NEW_USED':return_first,
    'LISTING_MANUFACTURER': return_all,
    'LISTING_TYPE':return_all, 
    'CATEGORY_NAME': return_all,
    'MTH': return_all,
    'SRPS':'sum', 'VDPS':'sum', 'WEBREFERRALS':'sum', 'MAPS':'sum', 'EMAIL':'sum'})

In [31]:
# create a view of average month length

listing['MTH_LENGTH'] = listing['MTH'].apply(lambda l: max(l)-min(l))

In [32]:
listing.describe()

,DEALER_ID,SRPS,VDPS,WEBREFERRALS,MAPS,EMAIL,MTH_LENGTH
count,5.982500e+04,59825.000000,59825.000000,59825.000000,59825.000000,59825.000000,59825.000000
mean,8.761659e+08,1195.106026,22.364513,0.649143,0.109687,0.143803,2.123761
std,1.898284e+09,4805.767079,253.395261,3.213833,0.860606,0.983889,2.324136
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.751518e+06,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.965902e+06,66.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,3.019410e+06,547.000000,6.000000,0.000000,0.000000,0.000000,3.000000
max,5.000004e+09,209033.000000,55913.000000,200.000000,124.000000,92.000000,11.000000

# 3. Data Story

Does premium or featured listing get more exposure and sell faster?
- How much more interaction and SRPS, and VDPS improve after listing premium/featured?

In [33]:
def percentile(n):
    def percentile_(x):
        return np.percentile(x, n)
    percentile_.__name__ = 'percentile_%s' % n
    return percentile_

In [34]:
listing['LISTING_TYPE_STR'] = listing['LISTING_TYPE'].astype(str)

In [35]:
listing.head()

,COMPANY_NAME,DEALER_ID,LISTING_NEW_USED,LISTING_MANUFACTURER,LISTING_TYPE,CATEGORY_NAME,MTH,SRPS,VDPS,WEBREFERRALS,MAPS,EMAIL,MTH_LENGTH,LISTING_TYPE_STR
LISTING_AD_ID,,,,,,,,,,,,,,
97576959,Clark Truck Sales,2937876,U,[FORD],"[STANDARD, PREMIUM]",[Cab Chassis],"[8, 2, 5, 6, 10, 3, 9, 12, 11, 7, 4, 1]",23854,334,3,4,1,11,"['STANDARD', 'PREMIUM']"
97587758,Clark Truck Sales,2937876,U,[FORD],"[STANDARD, PREMIUM]",[Flatbed Truck],"[8, 5, 10, 3, 12, 6, 7, 11, 9, 4, 2, 1]",26178,714,0,3,3,11,"['STANDARD', 'PREMIUM']"
97588164,Clark Truck Sales,2937876,U,[DODGE],[STANDARD],[Flatbed Truck],"[2, 10, 4, 5, 6, 1, 11, 9, 8, 7, 12, 3]",18169,2444,1,12,6,11,['STANDARD']
97588176,Clark Truck Sales,2937876,U,[FORD],[STANDARD],[Crane Truck],"[11, 4, 9, 3, 7, 1, 12, 2, 5, 10, 6, 8]",16173,476,0,2,2,11,['STANDARD']
97588954,Clark Truck Sales,2937876,U,[INTERNATIONAL],"[STANDARD, PREMIUM]",[Cab Chassis],"[4, 2, 11, 1, 7, 6, 3, 12, 9, 5, 8, 10]",13910,334,0,0,0,11,"['STANDARD', 'PREMIUM']"

In [36]:
listing.reset_index().groupby('LISTING_TYPE_STR').agg({'LISTING_AD_ID':'count', 'MTH_LENGTH':[np.mean, 'min', 'max', percentile(25), percentile(75)], 'SRPS':[np.mean, 'sum'], 'VDPS': [np.mean, 'sum'], 'WEBREFERRALS': [np.mean, 'sum'], 'MAPS': [np.mean, 'sum'], 'EMAIL':[np.mean, 'sum']}).sort_values(('LISTING_AD_ID', 'count'), ascending=False)

                                                   LISTING_AD_ID MTH_LENGTH  \
                                                           count       mean
LISTING_TYPE_STR
['STANDARD']                                               52306   1.928039
['STANDARD', 'PREMIUM']                                     3400   3.632941
['PREMIUM', 'STANDARD']                                     2158   3.360982
['FEATURED']                                                 223   1.336323
['STANDARD', 'FEATURED']                                     186   3.295699
['STANDARD', 'PREMIUM AND FEATURED']                         183   2.207650
['PREMIUM AND FEATURED', 'STANDARD']                         173   2.514451
['PREMIUM']                                                  154   1.038961
['FEATURED', 'STANDARD']                                     139   2.798561
['PREMIUM AND FEATURED']                                     119   2.672269
['STANDARD', 'PREMIUM AND FEATURED', 'PREMIUM']              115   4.556522
['STANDARD', 'PREMIUM', 'PREMIUM AND FEATURED']              112   4.607143
['PREMIUM AND FEATURED', 'STANDARD', 'PREMIUM']               94   4.361702
['PREMIUM', 'STANDARD', 'PREMIUM AND FEATURED']               88   5.954545
['PREMIUM AND FEATURED', 'PREMIUM', 'STANDARD']               59   4.559322
['PREMIUM', 'PREMIUM AND FEATURED', 'STANDARD']               43   5.209302
['PREMIUM AND FEATURED', 'STANDARD', 'FEATURED']              27   5.592593
['STANDARD', 'PREMIUM', 'FEATURED']                           24   5.750000
['STANDARD', 'PREMIUM AND FEATURED', 'FEATURED']              22   5.636364
['STANDARD', 'FEATURED', 'PREMIUM']                           18   5.055556
['PREMIUM AND FEATURED', 'FEATURED', 'STANDARD']              12   5.000000
['PREMIUM AND FEATURED', 'PREMIUM', 'STANDARD',...            12   7.250000
['STANDARD', 'PREMIUM AND FEATURED', 'PREMIUM',...            11   7.090909
['FEATURED', 'PREMIUM AND FEATURED', 'STANDARD']              11   5.000000
['STANDARD', 'PREMIUM', 'PREMIUM AND FEATURED',...            10   5.500000
['PREMIUM', 'STANDARD', 'PREMIUM AND FEATURED',...            10   6.700000
['FEATURED', 'STANDARD', 'PREMIUM AND FEATURED']               9   5.666667
['PREMIUM', 'PREMIUM AND FEATURED', 'STANDARD',...             9   6.444444
['PREMIUM', 'PREMIUM AND FEATURED']                            9   2.111111
['FEATURED', 'STANDARD', 'PREMIUM']                            9   4.888889
['PREMIUM AND FEATURED', 'STANDARD', 'PREMIUM',...             8   6.500000
['STANDARD', 'FEATURED', 'PREMIUM AND FEATURED']               7   7.428571
['PREMIUM AND FEATURED', 'PREMIUM']                            7   2.000000
['PREMIUM', 'STANDARD', 'FEATURED']                            6   5.666667
['STANDARD', 'FEATURED', 'PREMIUM', 'PREMIUM AN...             5   6.800000
['PREMIUM AND FEATURED', 'STANDARD', 'FEATURED'...             5   7.800000
['FEATURED', 'PREMIUM', 'STANDARD']                            5   5.200000
['STANDARD', 'PREMIUM', 'FEATURED', 'PREMIUM AN...             4   4.000000
['STANDARD', 'FEATURED', 'PREMIUM AND FEATURED'...             4   4.000000
['PREMIUM', 'FEATURED', 'STANDARD']                            4   3.000000
['PREMIUM AND FEATURED', 'FEATURED', 'PREMIUM',...             4   7.250000
['STANDARD', 'PREMIUM AND FEATURED', 'FEATURED'...             3   7.000000
['FEATURED', 'STANDARD', 'PREMIUM AND FEATURED'...             2   3.500000
['FEATURED', 'STANDARD', 'PREMIUM', 'PREMIUM AN...             2   7.000000
['PREMIUM', 'FEATURED', 'STANDARD', 'PREMIUM AN...             2   6.000000
['PREMIUM AND FEATURED', 'FEATURED', 'STANDARD'...             2   5.500000
['PREMIUM AND FEATURED', 'FEATURED']                           2   3.000000
['PREMIUM', 'STANDARD', 'FEATURED', 'PREMIUM AN...             2   3.500000
['PREMIUM', 'PREMIUM AND FEATURED', 'FEATURED',...             2   7.500000
['PREMIUM AND FEATURED', 'PREMIUM', 'FEATURED',...             1   6.000000
['PREMIUM', 'PREMIUM AND FEATURED', 'FEATURED']                1   3.000000
['FEATURED', 'PREMIUM AND FEATURED']                           1   6.000000
['FEATURED', 'PREMIUM', 'STANDARD', 'PREMIUM AN...             1   7.000000

                                                                          \
                                                   min max percentile_25
LISTING_TYPE_STR
['STANDARD']                                         0  11          0.00
['STANDARD', 'PREMIUM']                              0  11          1.00
['PREMIUM', 'STANDARD']                              0  11          1.00
['FEATURED']                                         0   6          1.00
['STANDARD', 'FEATURED']                             0  11          1.00
['STANDARD', 'PREMIUM AND FEATURED']                 0  11          1.00
['PREMIUM AND FEATURED', 'STANDARD']                 0  11          1.00
['PREMIUM']                                          0   5          0.00
['FEATURED', 'STANDARD']                             0  11          2.00
['PREMIUM AND FEATURED']                             0   8          1.00
['STANDARD', 'PREMIUM AND FEATURED', 'PREMIUM']      0  11          2.00
['STANDARD', 'PREMIUM', 'PREMIUM AND FEATURED']      0  11          2.00
['PREMIUM AND FEATURED', 'STANDARD', 'PREMIUM']      0  11          2.00
['PREMIUM', 'STANDARD', 'PREMIUM AND FEATURED']      1  11          3.00
['PREMIUM AND FEATURED', 'PREMIUM', 'STANDARD']      0  11          2.00
['PREMIUM', 'PREMIUM AND FEATURED', 'STANDARD']      0  11          2.00
['PREMIUM AND FEATURED', 'STANDARD', 'FEATURED']     1  10          4.00
['STANDARD', 'PREMIUM', 'FEATURED']                  2  11          4.00
['STANDARD', 'PREMIUM AND FEATURED', 'FEATURED']     1  11          4.25
['STANDARD', 'FEATURED', 'PREMIUM']                  1  11          3.00
['PREMIUM AND FEATURED', 'FEATURED', 'STANDARD']     0  11          2.00
['PREMIUM AND FEATURED', 'PREMIUM', 'STANDARD',...   5  11          5.00
['STANDARD', 'PREMIUM AND FEATURED', 'PREMIUM',...   5  11          6.00
['FEATURED', 'PREMIUM AND FEATURED', 'STANDARD']     2  11          2.00
['STANDARD', 'PREMIUM', 'PREMIUM AND FEATURED',...   1  11          3.00
['PREMIUM', 'STANDARD', 'PREMIUM AND FEATURED',...   3  11          5.25
['FEATURED', 'STANDARD', 'PREMIUM AND FEATURED']     1  11          2.00
['PREMIUM', 'PREMIUM AND FEATURED', 'STANDARD',...   4   9          5.00
['PREMIUM', 'PREMIUM AND FEATURED']                  0   5          2.00
['FEATURED', 'STANDARD', 'PREMIUM']                  2  11          3.00
['PREMIUM AND FEATURED', 'STANDARD', 'PREMIUM',...   3   9          5.00
['STANDARD', 'FEATURED', 'PREMIUM AND FEATURED']     5  11          5.50
['PREMIUM AND FEATURED', 'PREMIUM']                  0   5          1.00
['PREMIUM', 'STANDARD', 'FEATURED']                  2  11          4.25
['STANDARD', 'FEATURED', 'PREMIUM', 'PREMIUM AN...   2  11          5.00
['PREMIUM AND FEATURED', 'STANDARD', 'FEATURED'...   3  11          6.00
['FEATURED', 'PREMIUM', 'STANDARD']                  1  11          2.00
['STANDARD', 'PREMIUM', 'FEATURED', 'PREMIUM AN...   2   6          2.75
['STANDARD', 'FEATURED', 'PREMIUM AND FEATURED'...   3   7          3.00
['PREMIUM', 'FEATURED', 'STANDARD']                  2   4          2.75
['PREMIUM AND FEATURED', 'FEATURED', 'PREMIUM',...   2  11          5.75
['STANDARD', 'PREMIUM AND FEATURED', 'FEATURED'...   5  11          5.00
['FEATURED', 'STANDARD', 'PREMIUM AND FEATURED'...   3   4          3.25
['FEATURED', 'STANDARD', 'PREMIUM', 'PREMIUM AN...   5   9          6.00
['PREMIUM', 'FEATURED', 'STANDARD', 'PREMIUM AN...   6   6          6.00
['PREMIUM AND FEATURED', 'FEATURED', 'STANDARD'...   5   6          5.25
['PREMIUM AND FEATURED', 'FEATURED']                 3   3          3.00
['PREMIUM', 'STANDARD', 'FEATURED', 'PREMIUM AN...   2   5          2.75
['PREMIUM', 'PREMIUM AND FEATURED', 'FEATURED',...   5  10          6.25
['PREMIUM AND FEATURED', 'PREMIUM', 'FEATURED',...   6   6          6.00
['PREMIUM', 'PREMIUM AND FEATURED', 'FEATURED']      3   3          3.00
['FEATURED', 'PREMIUM AND FEATURED']                 6   6          6.00
['FEATURED', 'PREMIUM', 'STANDARD', 'PREMIUM AN...   7   7          7.00

                                                                  \
                                                   percentile_75
LISTING_TYPE_STR
['STANDARD']                                                3.00
['STANDARD', 'PREMIUM']                                     5.00
['PREMIUM', 'STANDARD']                                     5.00
['FEATURED']                                                2.00
['STANDARD', 'FEATURED']                                    5.00
['STANDARD', 'PREMIUM AND FEATURED']                        3.00
['PREMIUM AND FEATURED', 'STANDARD']                        4.00
['PREMIUM']                                                 2.00
['FEATURED', 'STANDARD']                                    3.00
['PREMIUM AND FEATURED']                                    5.00
['STANDARD', 'PREMIUM AND FEATURED', 'PREMIUM']             6.50
['STANDARD', 'PREMIUM', 'PREMIUM AND FEATURED']             7.00
['PREMIUM AND FEATURED', 'STANDARD', 'PREMIUM']             6.00
['PREMIUM', 'STANDARD', 'PREMIUM AND FEATURED']             9.00
['PREMIUM AND FEATURED', 'PREMIUM', 'STANDARD']             6.50
['PREMIUM', 'PREMIUM AND FEATURED', 'STANDARD']             8.50
['PREMIUM AND FEATURED', 'STANDARD', 'FEATURED']            7.00
['STANDARD', 'PREMIUM', 'FEATURED']                         7.00
['STANDARD', 'PREMIUM AND FEATURED', 'FEATURED']            6.75
['STANDARD', 'FEATURED', 'PREMIUM']                         6.75
['PREMIUM AND FEATURED', 'FEATURED', 'STANDARD']            7.50
['PREMIUM AND FEATURED', 'PREMIUM', 'STANDARD',...          9.25
['STANDARD', 'PREMIUM AND FEATURED', 'PREMIUM',...          8.50
['FEATURED', 'PREMIUM AND FEATURED', 'STANDARD']            8.00
['STANDARD', 'PREMIUM', 'PREMIUM AND FEATURED',...          7.00
['PREMIUM', 'STANDARD', 'PREMIUM AND FEATURED',...          8.00
['FEATURED', 'STANDARD', 'PREMIUM AND FEATURED']            7.00
['PREMIUM', 'PREMIUM AND FEATURED', 'STANDARD',...          8.00
['PREMIUM', 'PREMIUM AND FEATURED']                         2.00
['FEATURED', 'STANDARD', 'PREMIUM']                         5.00
['PREMIUM AND FEATURED', 'STANDARD', 'PREMIUM',...          8.00
['STANDARD', 'FEATURED', 'PREMIUM AND FEATURED']            9.00
['PREMIUM AND FEATURED', 'PREMIUM']                         2.50
['PREMIUM', 'STANDARD', 'FEATURED']                         6.50
['STANDARD', 'FEATURED', 'PREMIUM', 'PREMIUM AN...         11.00
['PREMIUM AND FEATURED', 'STANDARD', 'FEATURED'...         11.00
['FEATURED', 'PREMIUM', 'STANDARD']                         7.00
['STANDARD', 'PREMIUM', 'FEATURED', 'PREMIUM AN...          5.25
['STANDARD', 'FEATURED', 'PREMIUM AND FEATURED'...          4.00
['PREMIUM', 'FEATURED', 'STANDARD']                         3.25
['PREMIUM AND FEATURED', 'FEATURED', 'PREMIUM',...          9.50
['STANDARD', 'PREMIUM AND FEATURED', 'FEATURED'...          8.00
['FEATURED', 'STANDARD', 'PREMIUM AND FEATURED'...          3.75
['FEATURED', 'STANDARD', 'PREMIUM', 'PREMIUM AN...          8.00
['PREMIUM', 'FEATURED', 'STANDARD', 'PREMIUM AN...          6.00
['PREMIUM AND FEATURED', 'FEATURED', 'STANDARD'...          5.75
['PREMIUM AND FEATURED', 'FEATURED']                        3.00
['PREMIUM', 'STANDARD', 'FEATURED', 'PREMIUM AN...          4.25
['PREMIUM', 'PREMIUM AND FEATURED', 'FEATURED',...          8.75
['PREMIUM AND FEATURED', 'PREMIUM', 'FEATURED',...          6.00
['PREMIUM', 'PREMIUM AND FEATURED', 'FEATURED']             3.00
['FEATURED', 'PREMIUM AND FEATURED']                        6.00
['FEATURED', 'PREMIUM', 'STANDARD', 'PREMIUM AN...          7.00

                                                            SRPS            \
                                                            mean       sum
LISTING_TYPE_STR
['STANDARD']                                          454.429148  23769371
['STANDARD', 'PREMIUM']                              4360.451471  14825535
['PREMIUM', 'STANDARD']                              6815.471270  14707787
['FEATURED']                                         5480.941704   1222250
['STANDARD', 'FEATURED']                             2493.091398    463715
['STANDARD', 'PREMIUM AND FEATURED']                 6804.092896   1245149
['PREMIUM AND FEATURED', 'STANDARD']                12266.329480   2122075
['PREMIUM']                                          3822.902597    588727
['FEATURED', 'STANDARD']                             3019.496403    419710
['PREMIUM AND FEATURED']                            14058.966387   1673017
['STANDARD', 'PREMIUM AND FEATURED', 'PREMIUM']     12322.921739   1417136
['STANDARD', 'PREMIUM', 'PREMIUM AND FEATURED']      9508.348214   1064935
['PREMIUM AND FEATURED', 'STANDARD', 'PREMIUM']     16717.414894   1571437
['PREMIUM', 'STANDARD', 'PREMIUM AND FEATURED']     15895.056818   1398765
['PREMIUM AND FEATURED', 'PREMIUM', 'STANDARD']     21355.203390   1259957
['PREMIUM', 'PREMIUM AND FEATURED', 'STANDARD']     16613.418605    714377
['PREMIUM AND FEATURED', 'STANDARD', 'FEATURED']    16009.444444    432255
['STANDARD', 'PREMIUM', 'FEATURED']                  4075.791667     97819
['STANDARD', 'PREMIUM AND FEATURED', 'FEATURED']     9464.772727    208225
['STANDARD', 'FEATURED', 'PREMIUM']                  5122.500000     92205
['PREMIUM AND FEATURED', 'FEATURED', 'STANDARD']    16452.583333    197431
['PREMIUM AND FEATURED', 'PREMIUM', 'STANDARD',...  26301.583333    315619
['STANDARD', 'PREMIUM AND FEATURED', 'PREMIUM',...  10374.363636    114118
['FEATURED', 'PREMIUM AND FEATURED', 'STANDARD']     9520.727273    104728
['STANDARD', 'PREMIUM', 'PREMIUM AND FEATURED',...   9298.400000     92984
['PREMIUM', 'STANDARD', 'PREMIUM AND FEATURED',...   6885.300000     68853
['FEATURED', 'STANDARD', 'PREMIUM AND FEATURED']    17920.333333    161283
['PREMIUM', 'PREMIUM AND FEATURED', 'STANDARD',...   4752.777778     42775
['PREMIUM', 'PREMIUM AND FEATURED']                 12582.333333    113241
['FEATURED', 'STANDARD', 'PREMIUM']                  6953.222222     62579
['PREMIUM AND FEATURED', 'STANDARD', 'PREMIUM',...   7410.625000     59285
['STANDARD', 'FEATURED', 'PREMIUM AND FEATURED']     8940.857143     62586
['PREMIUM AND FEATURED', 'PREMIUM']                 10725.285714     75077
['PREMIUM', 'STANDARD', 'FEATURED']                 11748.500000     70491
['STANDARD', 'FEATURED', 'PREMIUM', 'PREMIUM AN...   9833.400000     49167
['PREMIUM AND FEATURED', 'STANDARD', 'FEATURED'...   9771.000000     48855
['FEATURED', 'PREMIUM', 'STANDARD']                  5942.800000     29714
['STANDARD', 'PREMIUM', 'FEATURED', 'PREMIUM AN...   5388.500000     21554
['STANDARD', 'FEATURED', 'PREMIUM AND FEATURED'...  15677.250000     62709
['PREMIUM', 'FEATURED', 'STANDARD']                 12509.500000     50038
['PREMIUM AND FEATURED', 'FEATURED', 'PREMIUM',...  32432.000000    129728
['STANDARD', 'PREMIUM AND FEATURED', 'FEATURED'...  12439.666667     37319
['FEATURED', 'STANDARD', 'PREMIUM AND FEATURED'...   2277.000000      4554
['FEATURED', 'STANDARD', 'PREMIUM', 'PREMIUM AN...  20216.000000     40432
['PREMIUM', 'FEATURED', 'STANDARD', 'PREMIUM AN...  21337.500000     42675
['PREMIUM AND FEATURED', 'FEATURED', 'STANDARD'...  22172.000000     44344
['PREMIUM AND FEATURED', 'FEATURED']                 3034.000000      6068
['PREMIUM', 'STANDARD', 'FEATURED', 'PREMIUM AN...   1284.000000      2568
['PREMIUM', 'PREMIUM AND FEATURED', 'FEATURED',...   9673.500000     19347
['PREMIUM AND FEATURED', 'PREMIUM', 'FEATURED',...   6390.000000      6390
['PREMIUM', 'PREMIUM AND FEATURED', 'FEATURED']      2737.000000      2737
['FEATURED', 'PREMIUM AND FEATURED']                47931.000000     47931
['FEATURED', 'PREMIUM', 'STANDARD', 'PREMIUM AN...  15591.000000     15591

                                                           VDPS          \
                                                           mean     sum
LISTING_TYPE_STR
['STANDARD']                                          10.687569  559024
['STANDARD', 'PREMIUM']                               68.968529  234493
['PREMIUM', 'STANDARD']                              104.683967  225908
['FEATURED']                                         189.026906   42153
['STANDARD', 'FEATURED']                              57.618280   10717
['STANDARD', 'PREMIUM AND FEATURED']                  97.601093   17861
['PREMIUM AND FEATURED', 'STANDARD']                 162.618497   28133
['PREMIUM']                                           68.844156   10602
['FEATURED', 'STANDARD']                              84.517986   11748
['PREMIUM AND FEATURED']                             372.411765   44317
['STANDARD', 'PREMIUM AND FEATURED', 'PREMIUM']      167.373913   19248
['STANDARD', 'PREMIUM', 'PREMIUM AND FEATURED']      125.946429   14106
['PREMIUM AND FEATURED', 'STANDARD', 'PREMIUM']      250.585106   23555
['PREMIUM', 'STANDARD', 'PREMIUM AND FEATURED']      194.181818   17088
['PREMIUM AND FEATURED', 'PREMIUM', 'STANDARD']      355.135593   20953
['PREMIUM', 'PREMIUM AND FEATURED', 'STANDARD']      186.837209    8034
['PREMIUM AND FEATURED', 'STANDARD', 'FEATURED']     149.629630    4040
['STANDARD', 'PREMIUM', 'FEATURED']                  102.458333    2459
['STANDARD', 'PREMIUM AND FEATURED', 'FEATURED']     102.954545    2265
['STANDARD', 'FEATURED', 'PREMIUM']                  153.833333    2769
['PREMIUM AND FEATURED', 'FEATURED', 'STANDARD']     252.250000    3027
['PREMIUM AND FEATURED', 'PREMIUM', 'STANDARD',...   669.916667    8039
['STANDARD', 'PREMIUM AND FEATURED', 'PREMIUM',...   146.272727    1609
['FEATURED', 'PREMIUM AND FEATURED', 'STANDARD']     244.181818    2686
['STANDARD', 'PREMIUM', 'PREMIUM AND FEATURED',...   123.500000    1235
['PREMIUM', 'STANDARD', 'PREMIUM AND FEATURED',...    82.800000     828
['FEATURED', 'STANDARD', 'PREMIUM AND FEATURED']     280.777778    2527
['PREMIUM', 'PREMIUM AND FEATURED', 'STANDARD',...    45.111111     406
['PREMIUM', 'PREMIUM AND FEATURED']                   85.000000     765
['FEATURED', 'STANDARD', 'PREMIUM']                  128.000000    1152
['PREMIUM AND FEATURED', 'STANDARD', 'PREMIUM',...   105.125000     841
['STANDARD', 'FEATURED', 'PREMIUM AND FEATURED']      93.857143     657
['PREMIUM AND FEATURED', 'PREMIUM']                  453.000000    3171
['PREMIUM', 'STANDARD', 'FEATURED']                  138.000000     828
['STANDARD', 'FEATURED', 'PREMIUM', 'PREMIUM AN...   123.600000     618
['PREMIUM AND FEATURED', 'STANDARD', 'FEATURED'...    73.600000     368
['FEATURED', 'PREMIUM', 'STANDARD']                  129.000000     645
['STANDARD', 'PREMIUM', 'FEATURED', 'PREMIUM AN...   102.250000     409
['STANDARD', 'FEATURED', 'PREMIUM AND FEATURED'...   189.000000     756
['PREMIUM', 'FEATURED', 'STANDARD']                  143.750000     575
['PREMIUM AND FEATURED', 'FEATURED', 'PREMIUM',...   385.500000    1542
['STANDARD', 'PREMIUM AND FEATURED', 'FEATURED'...   346.000000    1038
['FEATURED', 'STANDARD', 'PREMIUM AND FEATURED'...    25.000000      50
['FEATURED', 'STANDARD', 'PREMIUM', 'PREMIUM AN...   364.500000     729
['PREMIUM', 'FEATURED', 'STANDARD', 'PREMIUM AN...   147.000000     294
['PREMIUM AND FEATURED', 'FEATURED', 'STANDARD'...   105.500000     211
['PREMIUM AND FEATURED', 'FEATURED']                 190.000000     380
['PREMIUM', 'STANDARD', 'FEATURED', 'PREMIUM AN...    19.500000      39
['PREMIUM', 'PREMIUM AND FEATURED', 'FEATURED',...   130.000000     260
['PREMIUM AND FEATURED', 'PREMIUM', 'FEATURED',...   134.000000     134
['PREMIUM', 'PREMIUM AND FEATURED', 'FEATURED']       46.000000      46
['FEATURED', 'PREMIUM AND FEATURED']                2328.000000    2328
['FEATURED', 'PREMIUM', 'STANDARD', 'PREMIUM AN...   291.000000     291


In [37]:
listing['LISTING_TYPE_LENGTH'] = listing['LISTING_TYPE'].agg(lambda l: len(l))

In [38]:
df = listing[listing['LISTING_TYPE_LENGTH'] == 1]

In [39]:
df.describe()

,DEALER_ID,SRPS,VDPS,WEBREFERRALS,MAPS,EMAIL,MTH_LENGTH,LISTING_TYPE_LENGTH
count,5.280200e+04,52802.000000,52802.000000,52802.000000,52802.000000,52802.000000,52802.000000,52802.0
mean,8.933441e+08,516.142665,12.425590,0.313871,0.057630,0.088216,1.924624,1.0
std,1.912912e+09,1982.391785,255.693116,1.651575,0.710009,0.711201,2.168583,0.0
min,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,2.697334e+06,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
50%,2.965902e+06,41.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.0
75%,3.019410e+06,282.000000,3.000000,0.000000,0.000000,0.000000,3.000000,1.0
max,5.000004e+09,93046.000000,55913.000000,129.000000,124.000000,39.000000,11.000000,1.0

In [40]:
df_summary = df.reset_index().groupby('LISTING_TYPE_STR').agg({'LISTING_AD_ID':'count', 'MTH_LENGTH':[np.mean,'sum', 'min', 'max', percentile(25), percentile(75)], 'SRPS':[np.mean, 'sum'], 'VDPS': [np.mean, 'sum'], 'WEBREFERRALS': [np.mean, 'sum'], 'MAPS': [np.mean, 'sum'], 'EMAIL':[np.mean, 'sum']}).sort_values(('LISTING_AD_ID', 'count'), ascending=False)
df_summary

                         LISTING_AD_ID MTH_LENGTH                  \
                                 count       mean     sum min max
LISTING_TYPE_STR
['STANDARD']                     52306   1.928039  100848   0  11
['FEATURED']                       223   1.336323     298   0   6
['PREMIUM']                        154   1.038961     160   0   5
['PREMIUM AND FEATURED']           119   2.672269     318   0   8

                                                              SRPS            \
                         percentile_25 percentile_75          mean       sum
LISTING_TYPE_STR
['STANDARD']                       0.0           3.0    454.429148  23769371
['FEATURED']                       1.0           2.0   5480.941704   1222250
['PREMIUM']                        0.0           2.0   3822.902597    588727
['PREMIUM AND FEATURED']           1.0           5.0  14058.966387   1673017

                                VDPS         WEBREFERRALS             MAPS  \
                                mean     sum         mean    sum      mean
LISTING_TYPE_STR
['STANDARD']               10.687569  559024     0.311857  16312  0.057240
['FEATURED']              189.026906   42153     0.183857     41  0.098655
['PREMIUM']                68.844156   10602     1.246753    192  0.129870
['PREMIUM AND FEATURED']  372.411765   44317     0.235294     28  0.058824

                                   EMAIL
                           sum      mean   sum
LISTING_TYPE_STR
['STANDARD']              2994  0.070164  3670
['FEATURED']                22  2.044843   456
['PREMIUM']                 20  0.207792    32
['PREMIUM AND FEATURED']     7  4.201681   500

In [41]:
def average_by_count(row, c):
    total = row[c]['sum']
    return total/row['LISTING_AD_ID']['count']

df_summary['MTH_LENGTH']['mean'] = df_summary.apply(lambda x: average_by_count(x, 'MTH_LENGTH'), axis=1)
df_summary['SRPS']['mean'] = df_summary.apply(lambda x: average_by_count(x, 'SRPS'), axis=1)
df_summary['VDPS']['mean'] = df_summary.apply(lambda x: average_by_count(x, 'VDPS'), axis=1)
df_summary['WEBREFERRALS']['mean'] = df_summary.apply(lambda x: average_by_count(x, 'WEBREFERRALS'), axis=1)
df_summary['MAPS']['mean'] = df_summary.apply(lambda x: average_by_count(x, 'MAPS'), axis=1)
df_summary['EMAIL']['mean'] = df_summary.apply(lambda x: average_by_count(x, 'EMAIL'), axis=1)

C:\ProgramData\Miniconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Miniconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Miniconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\ProgramData\Miniconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Miniconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\ProgramData\Miniconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [42]:
col_show = ['LISTING_AD_ID', 'EMAIL']
df_summary[col_show]

                         LISTING_AD_ID     EMAIL
                                 count      mean   sum
LISTING_TYPE_STR
['STANDARD']                     52306  0.070164  3670
['FEATURED']                       223  2.044843   456
['PREMIUM']                        154  0.207792    32
['PREMIUM AND FEATURED']           119  4.201681   500

## from a quick scan, there's quite an improvement in terms of length, SRPs, VDPs, web referrals, maps, email, but is it significant between groups?

In [43]:
df['LISTING_TYPE'] = df['LISTING_TYPE'].apply(lambda x: x[0])

C:\ProgramData\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
metrics = ['MTH_LENGTH', 'SRPS', 'VDPS','WEBREFERRALS', 'MAPS', 'EMAIL']
nonstandard_l = ['PREMIUM', 'FEATURED', 'PREMIUM AND FEATURED']

# loop through every metrics
for col in metrics:
    print('===========', col, '===========')
    standard = df[df['LISTING_TYPE'] == 'STANDARD'][col].to_numpy()
    premium = df[df['LISTING_TYPE'] == 'PREMIUM'][col].to_numpy()
    featured = df[df['LISTING_TYPE'] == 'FEATURED'][col].to_numpy()
    premiumfeatured = df[df['LISTING_TYPE'] == 'PREMIUM AND FEATURED'][col].to_numpy()
    
    alpha = 0.05
    
    # t-test for every listing category
    for i in nonstandard_l:
        print('STANDARD VS', i, ':')
        nonstandard = df[df['LISTING_TYPE'] == i][col].to_numpy()
        res = stats.ttest_ind(a=standard, b=nonstandard, equal_var=True)
        p = res.pvalue

        # interpret via p-value
        if p > alpha:
            print('{}: Accept null hypothesis that the means are equal. p-value: {}'.format(col, p))
        else:
            print('{}: Reject the null hypothesis that the means are equal. p-value: {}'.format(col, p))
        print('\n')
    print('\n')

=========== MTH_LENGTH ===========
STANDARD VS PREMIUM :
MTH_LENGTH: Reject the null hypothesis that the means are equal. p-value: 3.9004679838513895e-07


STANDARD VS FEATURED :
MTH_LENGTH: Reject the null hypothesis that the means are equal. p-value: 4.823746148387649e-05


STANDARD VS PREMIUM AND FEATURED :
MTH_LENGTH: Reject the null hypothesis that the means are equal. p-value: 0.00019076873283280005




=========== SRPS ===========
STANDARD VS PREMIUM :
SRPS: Reject the null hypothesis that the means are equal. p-value: 4.01106457721682e-138


STANDARD VS FEATURED :
SRPS: Reject the null hypothesis that the means are equal. p-value: 0.0


STANDARD VS PREMIUM AND FEATURED :
SRPS: Reject the null hypothesis that the means are equal. p-value: 0.0




=========== VDPS ===========
STANDARD VS PREMIUM :
VDPS: Reject the null hypothesis that the means are equal. p-value: 0.004583966112527468


STANDARD VS FEATURED :
VDPS: Reject the null hypothesis that the means are equal. p-value: 1.5339007287424037e-25


STANDARD VS PREMIUM AND FEATURED :
VDPS: Reject the null hypothesis that the means are equal. p-value: 1.0610945051716564e-53




=========== WEBREFERRALS ===========
STANDARD VS PREMIUM :
WEBREFERRALS: Reject the null hypothesis that the means are equal. p-value: 2.5424946610380135e-12


STANDARD VS FEATURED :
WEBREFERRALS: Accept null hypothesis that the means are equal. p-value: 0.24719058695219612


STANDARD VS PREMIUM AND FEATURED :
WEBREFERRALS: Accept null hypothesis that the means are equal. p-value: 0.613059294478415




=========== MAPS ===========
STANDARD VS PREMIUM :
MAPS: Accept null hypothesis that the means are equal. p-value: 0.20539341359048918


STANDARD VS FEATURED :
MAPS: Accept null hypothesis that the means are equal. p-value: 0.38550393189426335


STANDARD VS PREMIUM AND FEATURED :
MAPS: Accept null hypothesis that the means are equal. p-value: 0.9806326774299196




=========== EMAIL ===========
STANDARD VS PREMIUM :
EMAIL: Reject the null hypothesis that the means are equal. p-value: 0.002047712107705373


STANDARD VS FEATURED :
EMAIL: Reject the null hypothesis that the means are equal. p-value: 0.0


STANDARD VS PREMIUM AND FEATURED :
EMAIL: Reject the null hypothesis that the means are equal. p-value: 0.0